.no-select {
  user-select: none !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.flex-center {
  display: flex !important;
  flex-flow: column wrap !important;
  align-items: center !important;
  justify-content: center !important;
}
